:root{
    --tamanho-de-fonte-titulo: 14px;
    --tamanho-de-fonte-descrição: 11px;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
.painel{
    display: grid;
    grid-template-columns: 326px 270px;
    grid-template-rows: repeat(4, 71px);
    grid-gap: 15px;
    height: 368px;
    width: 656px;
    margin: 50px auto;
}
.video-principal{
    grid-area: 1/1/5;
}
.video-principal h2{
    font-size: 14px;
}
.video-principal p{
   
    text-align: justify;
}

.video1{
    grid-area: 2/2;
    display: flex;
}

.video2{
    grid-area:3/2 ;
    display: flex;
}

.video3{
    grid-area: 4/2;
    display: flex;
}


.descricao p{
    display: flex;
    margin-left: 4px;
    margin-bottom: 5px;
}
.painel h2{
    font-size: var(--tamanho-de-fonte-titulo);
    font-weight: 700;
    height: 16px;
    margin-bottom: 7px;
    margin-left: 4px;
}
.painel p{
    font-size: var(--tamanho-de-fonte-descrição);
    font-weight: 300;
    height: 13px;
    
}

@media(min-width: 656px){
    .painel{
        display: grid;
    } 
}