body{
    max-width: 1400px;
}

.quadros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quadro{
    position: relative;

}
.quadro img{
    width: 335.64px;
    height: 432px;
    background-size: cover;

}

.quadro h2{
    position: absolute;
    top: 342px;
    left: 20px;
    color: white;
    font-size: 30px; 
    font-weight: 700;
}
.quadro p{
    position: absolute;
    top: 381px;
    left: 20px;
    color: white;
    font-size: 17px;
}