

.quadros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.quadros div{
    width: 50%;
    flex: 1 1 200px;
    flex-direction: row;
}
.quadro{
    position: relative;

}
img{
    width: 335.64px;
    height: 432px;
    background-size: cover;

}

img h2{
    position: absolute;
    top: 457px;
    left: 1103px;
    display:flex
    color: #ffffff;
    font-size: 30px; 
}
img p{
    position: absolute;
    top: 381px;
    left: 20px;
    color: #ffffff;
    font-size: 17px;
}