body{
    max-width: 1440px;
}
header{
    flex-wrap: wrap;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}
.logo{
    width: 48.28px;
    height: 41.8px;
    display: flex;
   
}
.cabecalho .logo h1{
    font-size: 20px ;
    font-weight: 800;
}

.menu li{
    display: inline-block;
    padding: 10px;
}
.menu li:hover{
    background-color: #5BC241;
    color: white;
    /* display: block; */
}
.button{
    color: white;
    background: #5BC241;
    border-radius: 10px;
    padding: 11px 21px;
}
